<% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show " role='alert'>
        <%= success %>
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
    </div>
    <% } %>

        <% if(error && error.length) { %>
            <div class="alert alert-danger alert-dismissible fade show " role='alert'>
                <%= error %>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
            </div>
            <% } %>

                <!-- THE BELOW script HIDES THE ALERT -->
                <script>
                    $(document).ready(function () {
                        // show the alert
                        setTimeout(function () {
                            $(".alert").alert('close');
                        }, 2000);
                    });

                </script>