<footer class='py-3 mt-auto '>
    <div class="snap">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img class="img-thumbnail"
                alt="Creative Commons License" style="border-width:0"
                src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
        Site Created by
        <a style='color:white; text-decoration: none;' class='link' href="https://www.snapdeus.org">
            snǝpdɐus
        </a>
    </div>
</footer>