<nav class="navbar navbar-expand-xl navbar-dark fixed-top mb-5 " id="topkeep">
    <a class="navbar-brand pt-2" href="/">HAUS OF DECLINE</a>
    <button class="navbar-toggler" id="navbarDropdown" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item pt-2 pb-1 pr-1 active">
                <a class="nav-link " href="/comics">COMIX</a>
            </li>
            <li class="nav-item pt-2 pb-1 pr-1 active">
                <a class="nav-link " href="/episodes">POD</a>
            </li>
            <li class="nav-item pt-2 pb-1 active">
                <a class="nav-link " href="/about">ABOUT</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container ">
    <div class="row mb-2">

    </div>
    <div class="row justify-content-center">
        <div class="hausrise">
            <img src="/gifs/resources/hausLong.jpg" class="card-img-top" alt="header">
        </div>
    </div>