<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <div class="container mt-3 mx-auto">
        <div class="row">
            <div class="mx-auto mb-3">
                <h2 style='text-decoration: none;' class=" hausFontNoColor text-center">
                    <a class="link  rainbow_text_animated" style=' text-decoration: none;'
                        href="https://www.patreon.com/hausofdecline">Support
                        us on Patreon!</a>
                </h2>
            </div>
        </div>

        <div id="aboutText" class="row ml-3 mr-3">

            <p>Haus of Decline is an ongoing multimedia project that was created by two guys named Alex and Stephen.
            </p>
            <p> It started as a podcast so that we would have an excuse to keep in touch, but grew to also encompass the
                work produced by our respective artistic practices; comics for Alex and programming for Stephen. </p>
            <p>We hope to expand the project even further! Movies! Video Games! Performance Art! Join us on our quest to
                become the ultimate media assholes!</p>
            <p>Stephen has since retired from public life, but he remains active as the Chief Technical Officer, pulling
                digital strings from behind the scenes.</p>
            <p>
                In the meantime, listen to the podcast. It is mostly comedy-oriented, and Alex will often interview
                somebody, and talk about their true feelings.
            </p>
            <p>Read the comics. They are about Queer harmony and delightfult scatological gags.</p>

            <p>Enjoy our website and join the Discord. They are Byzantine and they contain fiendish games.</p>

            <p id="followUs">Follow Haus of Decline on Twitter!
                <span><a id="followLink" href="https://twitter.com/hausofdecline"><i class="fab fa-twitter"></i> Haus of
                        Decline</a></span>
            </p>
            <div class="col-3 col-md-2 fixed-bottom">
                <img src="gifs/resources/headernotext.png" class="img-fluid " alt="headerpic">
            </div>

        </div>
    </div>