<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <div class="container mt-3 mx-auto">

        <div id="aboutText" class="row ml-3 mr-3">

            <p>Haus of Decline is a podcast hosted by Alex & Stephen. </p>
            <p>The show is a conversation on why it feels like the world around us is constantly devolving, like the
                infinite
                descent of a barber-pole’s spiral.</p>
            <p>Each week, Alex and Stephen talk about the news cycle or subjects of recent fascination and try to be
                funny,
                while also tying these subjects to their overarching theory of Historical Miserablism. </p>
            <p>Recurring themes include: Cartoons, Dick jokes, The Commodification of Dissent, The
                Information Economy, Nostalgia used as an ends towards fascism, Extremely Online Culture, GNU/Linux, and
                Kingdom Hearts.</p>

            <p>Alex makes the comics, and Stephen makes the website</p>

            <p id="followUs">Follow Us on Twitter!
                <span><a id="followLink" href="https://twitter.com/hausofdecline"><i class="fab fa-twitter"></i> Haus of
                        Decline</a></span>
            </p>
            <div class="col-3 col-md-2 fixed-bottom">
                <img src="gifs/resources/headernotext.png" class="img-fluid " alt="headerpic">
            </div>

        </div>
    </div>