<% layout('layout/boilerplate') %>


    <div class="row justify-content-center">
        <div class="blurb">
            North America's Foremost Calvinist Podcast
        </div>
    </div>

    <div class="row align-items-center mt-4 mr-0 ml-0">
        <!-- NEW EPISODE GOES HERE: -->
        <%- episode[0].attributes.embed_html_dark %>

            <div class="descrip">Our latest episode!</div>
    </div>

    </div>


    <!-- <div class="col-8 col-md-6 col-lg-5 col-xl-3 boyz fixed-bottom">
     <img src="gifs/resources/headernotext.png" class="img-fluid " alt="headerpic">
    </div>
 -->



    <div class="container">
        <div class="row">
            <div class="mx-auto mb-3">
                <h1 class="display hausFont">
                    Listen & Subscribe
                </h1>
            </div>
        </div>
        <div class="borderLine">
            <div class="subscribeOptions mb-3">
                <a target="_blank" href="https://podcasts.apple.com/us/podcast/haus-of-decline/id1514796902"><span
                        class="icon">
                        <svg width="27" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 146.97 161.62">
                            <path fill="#fff"
                                d="M91,118.77c-.54,6.41-1.58,14.95-2.93,23.65a89.89,89.89,0,0,1-2.45,11.93c-1.16,3.88-5.46,7.27-12.2,7.27s-11-3.4-12.2-7.27a90.58,90.58,0,0,1-2.45-11.93c-1.35-8.71-2.39-17.25-2.93-23.65-.57-6.72-.87-10.93-.34-15.81a9.62,9.62,0,0,1,2.77-6c3.14-3.31,8.64-5.43,15.15-5.43s12,2.13,15.15,5.43a9.58,9.58,0,0,1,2.78,6C91.9,107.85,91.61,112.06,91,118.77ZM46.25,102.54a3,3,0,0,1,1,2.39,68.67,68.67,0,0,0,.08,8.4,1,1,0,0,1-1.5.86,49.23,49.23,0,1,1,55.41,0,1,1,0,0,1-1.51-.86,72.44,72.44,0,0,0,.08-8.39,3.07,3.07,0,0,1,1-2.39,39.83,39.83,0,1,0-54.49,0Zm44.34-35A17.11,17.11,0,1,1,73.48,50.38,17.1,17.1,0,0,1,90.59,67.49Zm7.22,75.33a1,1,0,0,1-1.31-1.07c.38-2.51.74-5,1.06-7.52a2.51,2.51,0,0,1,1.48-2,64.08,64.08,0,1,0-51.13,0,2.51,2.51,0,0,1,1.48,2c.33,2.49.68,5,1.06,7.53a1,1,0,0,1-1.31,1.07,73.5,73.5,0,1,1,48.65,0Z">
                            </path>
                        </svg></span><span class="iconLabel">Apple<br>Podcasts</span></a>
                <a target="_blank" href="https://open.spotify.com/show/1klOxA0jVUI8IzT4tyVno5"><span class="icon"><i
                            class="fab fa-2x fa-spotify"></i></span> <span class="iconLabel">Spotify</span></a>


                <a target="_blank"
                    href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy50cmFuc2lzdG9yLmZtL2hhdXMtb2YtZGVjbGluZQ"><span
                        class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 42.2 42.2">
                            <path fill="#fff"
                                d="M2.6 17C1.2 17 0 18.2 0 19.7v2.9c0 1.5 1.2 2.6 2.6 2.6 1.5 0 2.6-1.2 2.6-2.6v-2.9c.1-1.5-1.1-2.7-2.6-2.7zM39.6 17c-1.5 0-2.6 1.2-2.6 2.6v2.9c0 1.5 1.2 2.6 2.6 2.6 1.5 0 2.6-1.2 2.6-2.6v-2.9c0-1.4-1.2-2.6-2.6-2.6zM11.7 25.7c-1.5 0-2.6 1.2-2.6 2.6v2.9c0 1.5 1.2 2.6 2.6 2.6s2.6-1.2 2.6-2.6v-2.9c.1-1.5-1.1-2.6-2.6-2.6zM11.7 8.4c-1.5 0-2.6 1.2-2.6 2.6v9.4c0 1.4 1.2 2.6 2.6 2.6s2.6-1.1 2.6-2.6V11c.1-1.4-1.1-2.6-2.6-2.6zM30.4 8.4c-1.5 0-2.6 1.2-2.6 2.6v2.9c0 1.5 1.2 2.6 2.6 2.6 1.5 0 2.6-1.2 2.6-2.6V11c.1-1.4-1.1-2.6-2.6-2.6zM21.1 0c-1.5 0-2.6 1.2-2.6 2.6v2.9c0 1.5 1.2 2.6 2.6 2.6s2.6-1.2 2.6-2.6V2.6c0-1.4-1.1-2.6-2.6-2.6zM21.1 34c-1.5 0-2.6 1.2-2.6 2.6v2.9c0 1.5 1.2 2.6 2.6 2.6s2.6-1.2 2.6-2.6v-2.9c0-1.4-1.1-2.6-2.6-2.6zM30.4 19.2c-1.5 0-2.6 1.2-2.6 2.6v9.4c0 1.5 1.2 2.6 2.6 2.6 1.5 0 2.6-1.2 2.6-2.6v-9.4c.1-1.4-1.1-2.6-2.6-2.6zM21.1 10.8c-1.5 0-2.6 1.2-2.6 2.6v15.4c0 1.5 1.2 2.6 2.6 2.6s2.6-1.2 2.6-2.6V13.4c0-1.4-1.1-2.6-2.6-2.6z">
                            </path>
                        </svg></span> <span class="iconLabel">Google<br>Podcasts</span></a>
                <a target="_blank" href="https://feeds.transistor.fm/haus-of-decline"><span class="icon"><i
                            class="fa fa-2x fa-rss"></i></span> <span class="iconLabel">RSS</span></a>

                <a target="_blank"
                    href="https://podcastaddict.page.link/?link=https://podcastaddict.com/podcast/2931925&apn=com.bambuna.podcastaddict&amv=20210"><span
                        class="icon"><i class="fas fa-2x fa-microphone"></i></span> <span class="iconLabel">Podcast
                        Addict</span></a>

            </div>
        </div>

        <div class="row align-items-center ">
            <div class="descripNoPad mx-auto">
                <p> &#8595; Check out the comix! &#8595; </p>
            </div>
        </div>

        <div class="col-6 col-md-3 col-lg-2 mx-auto boyz ">
            <img src="/gifs/resources/headernotext.png" class="img-fluid " alt="headerpic">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto col-xs-12 ">
                    <a href="/comics">
                        <!-- NEW COMIC GOES HERE -->
                        <img loading="lazy" class="img-thumbnail specialBorder add-hover"
                            src="/uploads/<%= comics[0].filename %>" alt="<%= comics[0].description %>"
                            title="<%= comics[0].title%>">
                    </a>
                </div>
            </div>
        </div>

        <div class="row align-items-center bottomSpacer">
            <div class="descripNoPad mx-auto">
                <a style='color:white; text-decoration: none;' class='link'
                    href="https://hausofdecline.com/comics">Click for more!
                </a>
            </div>
        </div>

        <div class="row borderLineTop">
            <div class="mx-auto mb-3 ">
                <h1 class="display hausFont ">
                    Contact
                </h1>
            </div>
        </div>
        <div class="links">
            <div class="subscribeOptions ">
                <a target="_blank" href="mailto:hausofdecline@gmail.com"><span class="icon"><i
                            class="fas fa-2x fa-envelope"></i></span> <span class="iconLabel">Email</span></a>

                <a target="_blank" href="https://twitter.com/hausofdecline"><span class="icon"><i
                            class="fab fa-2x fa-twitter"></i></span> <span class="iconLabel">Twitter</span></a>

                <a target="_blank" href="https://instagram.com/hausofdecline"><span class="icon"><i
                            class="fab fa-2x fa-instagram"></i></span> <span class="iconLabel">Instagram</span></a>

                <a target="_blank" href="https://www.youtube.com/channel/UCWhw9ZUNXSlcjSf_g-TR0Ig"><span class="icon"><i
                            class="fab fa-2x fa-youtube"></i></span> <span class="iconLabel">YouTube</span></a>

            </div>
        </div>

    </div>