<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <div class="container mt-3 mx-auto">
        <div class="row">
            <div class="mx-auto mb-5">
                <div class="mb-5"></div>
                <h2 style='text-decoration: none;' class=" hausFontNoColor text-center">
                    <a class="link  " style=' text-decoration: none;' href="/comics/together/1/new">Submit new Together
                        comic</a>
                </h2>
                <div class="mb-5"></div>
                <div class="mt-5"></div>
                <h2 style='text-decoration: none;' class=" hausFontNoColor text-center">
                    <a class="link  " style=' text-decoration: none;' href="/comics/gay/1/new">Submit new Gay comic</a>
                </h2>
                <div class="mb-5"></div>
            </div>
        </div>


    </div>