<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <div class="container mt-3 mx-auto">

        <div id="aboutText" class="row ml-3 mr-3">
            <p>After nearly one hundred free episodes of our podcast and many hundreds of comics, we have decided to
                make a Patreon so that our wonderful fans can choose to support us in return for even more content!
            </p>
            <p>
                For $5 a month, a supporter will receive an extra episode of our podcast each week, as well as
                behind-the-scenes photos of comics in progress, and access to our private discord! There are two further
                tiers beyond this that provide even greater access and benefits. Our highest tier will allow you to
                commission a comic from Alex once a month.
            </p>
            <p>Please consider subscribing and supporting us so that we may continue to create our podcast and comic
                series.
            </p>

            <p class="mb-5" id="followUs">Support us on Patreon!
                <a class="mb-5 mt-3" href="https://www.patreon.com/bePatron?u=4636945"
                    data-patreon-widget-type="become-patron-button">Become a Patron!</a>
                <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
            </p>

            <div class="col-3 col-md-2 fixed-bottom">
                <img src="gifs/resources/headernotext.png" class="img-fluid " alt="headerpic">
            </div>

        </div>
    </div>