<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NY7G6B3JJ4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NY7G6B3JJ4');
    </script>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Haus of Decline">
    <meta name="author" content="Jack Dump">
    <meta property="og:title" content="Haus of Decline">
    <meta property="og:type" content="website">
    <meta property="og:description" content="North America's foremost Calvinist Podcast">
    <meta property="og:url" content="https://www.hausofdecline.com">
    <meta property="og:image" content="https://www.hausofdecline.com/gifs/resources/haus.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://www.hausofdecline.com/gifs/resources/haus.jpg">



    <link rel="shortcut icon" type="image/gif" href="/gifs/resources/favicon16.gif" sizes="16x16">
    <link rel="shortcut icon" type="image/gif" href="/gifs/resources/favicon32.gif" sizes="32x32">
    <link rel="shortcut icon" type="image/gif" href="/gifs/resources/favicon64.gif" sizes="64x64">
    <link rel="shortcut icon" type="image/png" href="/gifs/resources/favicon160.png" sizes="160x160">
    <link rel="shortcut icon" type="image/gif" href="/gifs/resources/favicon256.gif" sizes="256x256">
    <link rel="apple-touch-icon" type="image/gif" href="/gifs/resources/favicon256.gif">


    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css"> -->


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Source+Sans+Pro:wght@200;400;700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">


    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/solid.js"
        integrity="sha384-GXi56ipjsBwAe6v5X4xSrVNXGOmpdJYZEEh/0/GqJ3JTHsfDsF8v0YQvZCJYAiGu"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/brands.js"
        integrity="sha384-0inRy4HkP0hJ038ZyfQ4vLl+F4POKbqnaUB6ewmU4dWP0ki8Q27A0VFiVRIpscvL"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/fontawesome.js"
        integrity="sha384-NY6PHjYLP2f+gL3uaVfqUZImmw71ArL9+Roi9o+I4+RBqArA2CfW1sJ1wkABFfPe"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>




    <title>Haus of Decline</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">


</head>

<!-- <body class='d-flex flex-column vh-100'> -->

<body>
    <%- include('../partials/navbar') %>
        <%- include('../partials/flash') %>

            <%- body %>

                <%- include('../partials/footer') %>
                    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                        crossorigin="anonymous"></script> -->

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                        crossorigin="anonymous"></script>


                    <script src="/js/bootstrap.bundle.min.js"></script>
                    <script src="/js/scroller.js"></script>
                    <script src="/js/validateforms.js"></script>


</body>

</html>