<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/directory.css">

    <h1 class="hausFont"><a href="/comics/cod/1">Comix of Decline</a> </h1>
    <h1 class="hausFont"><a href="/comics/breadbodies">Breadbodies</a> </h1>