<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/directory.css">

    <h1 class="hausFont"><a href="/comics/cod/1">Comix of Decline</a> </h1>
    <div class="mb-3"></div>
    <h1 class="hausFont"><a href="/comics/gay/1">Gay Comix</a> </h1>