<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/directory.css">

    <div class="container">
        <div class="row">
            <div class="mx-auto mb-3">
                <h2 style='text-decoration: none;' class=" hausFontNoColor text-center">
                    <a class="link  rainbow_text_animated" style=' text-decoration: none;'
                        href="https://www.patreon.com/hausofdecline">Support
                        us on Patreon!</a>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mx-auto col-xs-12 ">

                <h3 class="hausFont mt-5 ">

                    <a href="/comics/together/1">
                        <div class="d-block w-50 shine">
                            <img src="/gifs/resources/togetherDirectoryIcon.gif"
                                class=" img-thumbnail specialBorder shine" alt="Together">

                        </div>
                    </a>
                </h3>
            </div>
        </div>
        <div class="mb-3"></div>
        <div class="row">
            <div class="col-lg-6 mx-auto col-xs-12 ">

                <h3 class="hausFont mt-5">
                    <a href="/comics/gay/1">
                        <div class="d-block w-50">
                            <img src="/gifs/resources/gaycomicsicon.jpg" class=" img-thumbnail  specialBorder"
                                alt="Gay Comics">
                        </div>
                    </a>
                </h3>
            </div>

        </div>

        <div class="mb-3"></div>
        <div class="row mb-5">
            <div class="col-lg-6 mx-auto col-xs-12 ">

                <h3 class="hausFont mt-5">
                    <a href="/comics/cod/1">
                        <div class="d-block w-50 ">
                            <img src="/gifs/resources/comix.jpg" class="h-30 img-thumbnail specialBorder"
                                alt="Comics of Decline">
                        </div>
                    </a>
                </h3>
            </div>
        </div>
    </div>
    <% if(currentUser){ %>
        <% if(currentUser.toObject().isAdmin){ %>
            <div class="col-lg-6 mx-auto col-xs-12 ">
                <div class="row">

                    <h3 class="mt-5 mb-5"> <a href="/comics/gay/1/new">SUBMIT NEW GAY COMIC</a> </h3>

                </div>
            </div>
            <% } %>
                <% } %>
                    </div>